aocl-meta/aocl-compression/
aocl-meta/aocl-data-analytics/
aocl-meta/aocl-libm-ose/
aocl-meta/aocl-libmem/
aocl-meta/aocl-sparse/
aocl-meta/aocl-utils/
aocl-meta/src/
freearc-ETJAKEOC/FreeArc/
linux-tools/linux-*.tar.*
mcpelauncher-ETJAKEOC/SDL/
mcpelauncher-ETJAKEOC/android-support-headers/
mcpelauncher-ETJAKEOC/android_bionic/
mcpelauncher-ETJAKEOC/android_core/
mcpelauncher-ETJAKEOC/arg-parser/
mcpelauncher-ETJAKEOC/base64/
mcpelauncher-ETJAKEOC/cll-telemetry/
mcpelauncher-ETJAKEOC/daemon-utils/
mcpelauncher-ETJAKEOC/eglut/
mcpelauncher-ETJAKEOC/epoll-shim/
mcpelauncher-ETJAKEOC/file-picker/
mcpelauncher-ETJAKEOC/file-util/
mcpelauncher-ETJAKEOC/game-window/
mcpelauncher-ETJAKEOC/imgui/
mcpelauncher-ETJAKEOC/libc-shim/
mcpelauncher-ETJAKEOC/libjnivm/
mcpelauncher-ETJAKEOC/logger/
mcpelauncher-ETJAKEOC/mcpelauncher-apkinfo/
mcpelauncher-ETJAKEOC/mcpelauncher-client/
mcpelauncher-ETJAKEOC/mcpelauncher-common/
mcpelauncher-ETJAKEOC/mcpelauncher-core/
mcpelauncher-ETJAKEOC/mcpelauncher-elfinfo/
mcpelauncher-ETJAKEOC/mcpelauncher-errorwindow/
mcpelauncher-ETJAKEOC/mcpelauncher-extract/
mcpelauncher-ETJAKEOC/mcpelauncher-linker/
mcpelauncher-ETJAKEOC/mcpelauncher-linux-bin/
mcpelauncher-ETJAKEOC/mcpelauncher-manifest/
mcpelauncher-ETJAKEOC/mcpelauncher-proprietary/
mcpelauncher-ETJAKEOC/mcpelauncher-ui-manifest/
mcpelauncher-ETJAKEOC/mcpelauncher-ui-qt/
mcpelauncher-ETJAKEOC/mcpelauncher-versiondb/
mcpelauncher-ETJAKEOC/mcpelauncher-webview/
mcpelauncher-ETJAKEOC/minecraft-imported-symbols/
mcpelauncher-ETJAKEOC/msa-daemon-client/
mcpelauncher-ETJAKEOC/msa-manifest/
mcpelauncher-ETJAKEOC/msa-ui-qt/
mcpelauncher-ETJAKEOC/msa/
mcpelauncher-ETJAKEOC/properties-parser/
mcpelauncher-ETJAKEOC/simple-ipc/
mcpelauncher-ui/axml-parser/
mcpelauncher-ui/file-util/
mcpelauncher-ui/google-play-api/
mcpelauncher-ui/mcpelauncher-apkinfo/
mcpelauncher-ui/mcpelauncher-common/
mcpelauncher-ui/mcpelauncher-extract/
mcpelauncher-ui/mcpelauncher-ui-manifest/
mcpelauncher-ui/mcpelauncher-ui-qt/
mcpelauncher-ui/playdl-signin-ui-qt/
qemu-git/qemu/
vkd3d-git/src/
vkd3d-git/vkd3d/
*/pkg
*/src
