[Desktop Entry]
Name=Android Messages
Exec=android-messages
Terminal=false
Type=Application
Icon=android-messages
StartupWMClass=Android Messages
Comment=Messages for web, as a desktop app
Categories=Internet;
