[Desktop Entry]
Name=Unity Hub
Comment=Manage Unity versions and projects
Exec=/opt/unityhub/UnityHub.AppImage
Icon=unityhub
Terminal=false
Type=Application
Categories=Development;IDE;
