[Desktop Entry]
Name=ChatGPT Electron
GenericName=ChatGPT
Comment=Native-like ChatGPT Electron wrapper
Exec=/usr/bin/chatgpt-electron %U
Icon=chatgpt-electron
Type=Application
Categories=Internet;
StartupNotify=true
StartupWMClass=chatgpt-electron
