[Desktop Entry]
Name=ChatGPT Electron
GenericName=Circuit Simulator
Comment=Native-like ChatGPT Electron wrapper using Electron
Exec=chatgpt-electron %U
Icon=chatgpt-electron
Type=Application
Categories=Education;Internet;Science;
StartupNotify=true
StartupWMClass=chatgpt-electron
